extends layout

block content
	h1= title
	form#formDeployDefault(name="deploydefault",method="post",action="/deployDefault")
		input#inputUrl(type="text", placeholder="URL to Community Manager Container", name="url", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputTenantName(type="text", placeholder="Enter Tenant Name", name="tenantName", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputTenantId(type="text", placeholder="Enter Tenant Id", name="tenantId", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputAddress(type="text", placeholder="Enter Address", name="address", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputConsoleAddress(type="text", placeholder="Enter Console Address", name="consoleAddress", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputEmail(type="text", placeholder="Enter Email Address", name="email", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputPassword(type="password", placeholder="Enter Password", name="password", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputContactEmailAddress(type="text", placeholder="Enter Contact Email Address", name="contactEmailAddress", style="width:300px;margin-bottom: 10px;display: block;")
		input#inputFromEmailAddress(type="text", placeholder="Enter From Email Address", name="fromEmailAddress", style="width:300px;margin-bottom: 10px;display: block;")
		button#btnSubmit(type="submit") create